body{font-family: Helvetica Neue;}
.form{background: #ffffff; padding: 15px; margin-top: 10px; border-radius: 3px;}
.form input {width: calc(100% - 19px); height: 50px; padding: 0; border: 1px solid #e8e8e8; font-size: 17px; font-family: Helvetica Neue; padding-left: 16px; margin-bottom: 10px;}

.form button{width: 100%;height: 50px;background: #1e61d0;color: #fff;font-size: 18px;font-family: Helvetica Neue;}

.f-h{font-size: 20px; margin-bottom: 20px;}
.f-a{margin-top: 20px; margin-bottom: 20px; background: #ccffcc; padding: 11px;}

.loading{display: none;text-align: center}


.step2-button a{width: 100%; height: 50px; line-height: 50px; background: #1986fb; display: block; text-align: center; color: #fff; text-decoration: none; margin-bottom: 20px; border-radius: 5px; margin-top: 20px;}


.message{display: none}
.im-caret{-webkit-animation:1s blink step-end infinite;-moz-animation:1s blink step-end infinite;-ms-animation:1s blink step-end infinite;-o-animation:1s blink step-end infinite;animation:1s blink step-end infinite}@keyframes blink{from,to{border-right-color:#000}50%{border-right-color:transparent}}@-moz-keyframes blink{from,to{border-right-color:#000}50%{border-right-color:transparent}}@-webkit-keyframes blink{from,to{border-right-color:#000}50%{border-right-color:transparent}}@-ms-keyframes blink{from,to{border-right-color:#000}50%{border-right-color:transparent}}@-o-keyframes blink{from,to{border-right-color:#000}50%{border-right-color:transparent}}.im-static{color:grey}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    display: block;
    padding: 0 17px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font: 600 18px 'Roboto', sans-serif;
    color: #000;
    background: transparent;
    border: 1px solid rgba(0,0,0,.11);
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  ::-webkit-input-placeholder {
    opacity: 1;
    font-weight: 300;
    color: #393939;
  }
  ::-moz-placeholder {
    opacity: 1;
    font-weight: 300;
    color: #393939;
  }
  :-moz-placeholder {
    opacity: 1;
    font-weight: 300;
    color: #393939;
  }
  :-ms-input-placeholder {
    opacity: 1;
    font-weight: 300;
    color: #393939;
  }
  .some-form {
    width: 30%;
    margin: 36px auto;
  }
  .form {
    padding: 30px;
    background: #f7fafb;
    color: #000;
    border-radius: 3px;
    -webkit-box-shadow: 0 39px 57px rgba(0,0,0,.19);
    -moz-box-shadow: 0 39px 57px rgba(0,0,0,.19);
    box-shadow: 0 39px 57px rgba(0,0,0,.19);
  }
  .some-form__header {
    margin-bottom: 41px;
    padding-top: 12px;
    font-size: 26px;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: center;
  }
  .some-form__line {
    display: block;
    position: relative;
    margin-bottom: 15px;
  }
  .some-form__line-required input[type="text"],
  .some-form__line-required input[type="tel"],
  .some-form__line-required input[type="email"] {
    border-color: #f45a57;
  }
  .some-form__line-required .some-form__hint {
    opacity: 1;
    z-index: auto;
  }
  .some-form__hint {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -6px;
    padding: 0 12px;
    width: 100%;
    background: #f45a57;
    color: #fff;
    font-size: 12px;
    line-height: 1.333333;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .title {
    font-weight: bold;
  }
  
  .button {
    display: inline-block;
    padding: 14px 15px 16px;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    background: #19b5ca;
    color: #fff;
    border: 2px solid #19b5ca;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 20px 43px rgba(18,159,178,.35);
    -moz-box-shadow: 0 20px 43px rgba(18,159,178,.35);
    box-shadow: 0 20px 43px rgba(18,159,178,.35);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .button:hover {
    background: #0e9aad;
    border-color: #0e9aad;
  }
  .button_wide {
    width: 100%;
  }
  .button_submit {
    font-size: 19px;
  }
  
  @media (max-width: 1299px) {
    .some-form {
      width: 40%;
    }
  }
  @media (max-width: 991px) {
    .some-form {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    .some-form {
      width: 60%;
    }
  }
  @media (max-width: 520px) {
    .some-form {
      width: 80%;
    }
  }